@font-face {
  font-family: Ghotam;
  src: url("../fonts/Gotham-Regular.ttf");
}

@font-face {
  font-family: Ghotam-pro-medium;
  src: url("../fonts/gothampro_medium.ttf");
}

@font-face {
  font-family: Ghotam-book;
  src: url("../fonts/ghotam - book.otf");
}

@font-face {
  font-family: Ghotam-bold;
  src: url("../fonts/ofont.ru_Gotham Pro.ttf");
}

@font-face {
  font-family: Ghotam-medium;
  src: url("../fonts/ghotam-medium.otf");
}
